server:
  port: 8080

spring:
  datasource:
    # Update DB name/user/pass to match your db/docker-compose.yml
    url: jdbc:mysql://localhost:3307/movie_tickets_db?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Ho_Chi_Minh
    username: movie_app
    password: movie_pass123
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Ho_Chi_Minh
