server:
  port: ${PORT:8080}
  address: 0.0.0.0

spring:
  main:
    web-application-type: servlet

  datasource:
    url: jdbc:mysql://mysql.railway.internal:3306/railway?useSSL=true&serverTimezone=Asia/Ho_Chi_Minh
    username: root
    password: dGfCIDCtdlIoPBNREbxgYHvzDNzbFHez
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          time_zone: Asia/Ho_Chi_Minh

cors:
  allowed-origins: "*"

logging:
  level:
    root: INFO
